body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

#vignette {
  line-height: 1.6;
}

#instructions {
  text-align: left;
}

table {
  width: 100%;
}

td {
  padding: 8px 0;
}
